<?xml version="1.0" encoding="utf-8"?>
<browserconfig>
    <msapplication>
        <tile>
            <square150x150logo src="<%= asset_path 'favicon/mstile-150x150.png' %>"/>
            <TileColor>#78ffbc</TileColor>
        </tile>
    </msapplication>
</browserconfig>
