<!DOCTYPE html>
<html lang="en">
  <head>
    <% content_for :head do %>
      <title>danielshu</title>
    <% end %>
  </head>
  <body>
    <section class="core">
      <h1>site#index</h1>
      <p>Find me in app/views/site/index.html.erb.</p>
      <%= link_to "Resume", resume_path %>
    </section>
  </body>
</html>
