<!DOCTYPE html>
<html lang="en">
  <head>
    <% content_for :head do %>
      <title>danielshu_projects</title>
    <% end %>
  </head>
  <section class="core">
    <h1>site#projects</h1>
    <p>app/views/site/projects.html.erb.</p>
    <%= link_to "Resume", resume_path %>
  </section>
</html>