body {
    margin-top: -20px;
    margin-left: -65px;
    margin-right: -70px;
}

.smallerest {
    font-size: 10.5pt;
}

i{
    font-size: 10px important!;
}

.linebreaktop{
    margin-bottom: -25px;
}

.linebreak{
    margin-top: -25px;
    margin-bottom: -25px;
}

.decreasemargin{
    margin-bottom: 0px;
}

ul {
    list-style-position: inside;
    list-style-type:disc;
}

li{
    margin: auto;
}

th, td{
	padding: -0px;
  border-bottom: none;
}

table{
  margin: 3px;
}

.decreasepadding {
	padding: 0px;
}

.hr-small{
  margin-top: 1.3rem;
}

tbody {
	border:  white important!;
}
