<!DOCTYPE html>
<html>
  <head>
    <!-- meta -->
    
    <!-- page meta -->
    <meta name="description" content="<%= yield(:description) %>" />
    <meta name="keywords" content="<%= yield(:keywords) %>" />

    <!-- favicon -->
    <%= render 'application/favicon' %>

    <!-- page info -->
    <%= yield :head %>
    <!-- facebook -->
    <!-- https://developers.facebook.com/docs/sharing/webmasters/ -->

    <!-- csrf -->
    <%= csrf_meta_tags %>

    <!-- css/js -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <style>
      body {
        color: black;
      }
      #navi-logo {
        display: block;
        max-width:50px;
        max-height:50px;
        width: auto;
        height: auto;
      }
      <!-- For background -->
      .background {
        background-color: transparent;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      }

      .core {
        max-width: 1152px;
        width: 1152px;
        margin: 0 auto;
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        position: relative;
      }

      .major-section {
        padding: 3rem 1.5rem;
      }

      .navi-whole {
        min-height: 5rem;
      }
      .navi-left {
        display: inline-block;
        white-space: nowrap;
        float: left;
      }
  
      .navi-left > div {
        width: 300px;
        display: inline-block;
        float: left;
      }
      .navi-img {
        max-height: 4rem;
        height: 100%;
        width: auto;
      }
      
      .navi-right {
        white-space: nowrap;
        display: inline-block;
        float: right;
      }

      .navi-right > div {
        width: 300px;
        display: inline-block;
        align-items: center;
        float: right;
      }
      a {
        text-decoration: none;
        color: currentColor;
      }
      a:hover, a:focus {
        color: currentColor;
        text-decoration: underline;
        border-bottom-color: black;
      }
      .navi-link {
        display: inline-block;
        align-items: center;
        padding: 1rem 1rem;
      }
    </style>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="page">
    <section id="top-section" class="major-section">
      <div id="header-core" class="core">
        <nav id="navi-whole" class="navi-whole">
          <div id="navi-logo" class="navi-left">
            <div id="brand" class="navi-link">
              <%= image_tag("git_prof_pic.png", :class => "navi-img") %>
            </div>
          </div>
          <div id="navi-list" class="navi-right">
            <li id="navi-home" class="navi-link">
              <%= link_to "Home", root_path %>
            </li>
            <li id="navi-tech" class="navi-link">
              <%= link_to "Projects", projects_path %> 
            </li>
            <li id="navi-resume" class="navi-link">
              <%= link_to "Resume", resume_path %>
            </li>
          </div>
        </nav>
      </div>
    </section>
    <section id="mid-section" class="major-body">
      <%= yield %>
    </section>
    <section id="bot-section" class="major-tail">
      
    </section>
  </body>
</html>
